.toolbar{
  background-color: white;
  box-shadow:  0px -1px 10px #d2d2d2;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  height: 60px;
}

.mat-icon{
  color: #999;
}

::ng-deep .mat-badge-content {
  background: rgb(255, 30, 36) !important;
}
