<div class="main-container">
  <mat-card class="example-card p-5">

    <mat-card-header class="flex-column">
      <h1 class="header">Reset password</h1>
    </mat-card-header>

    <p class="forget-password">Did you forgot your password? <br> No problem. Please enter your address email of your
      account so we send you a new password</p>

    <mat-card-content class="d-flex flex-column">
      <mat-form-field appearance="legacy">
        <mat-label>Email Address</mat-label>
        <input [(ngModel)]="emailResetPassword" matInput placeholder="Placeholder">
      </mat-form-field>

      <a href="" class="forget-password">Forget password?</a>
      <button mat-flat-button class="login-button">Send new password</button>
      <span class="span-info d-flex justify-content-center">
       <a href="" class="back-link">Back to LogIn</a>
      </span>
    </mat-card-content>
  </mat-card>
</div>

