@import "./src/variables";

.main-container{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px){
  .main-container {
    height: auto;
  }
  .example-card {
    width: 400px;
    max-width: 400px;
    border-radius: 0% !important;
    border: none !important;
    box-shadow: none !important;
  }
}

.example-card {
  width: 400px;
  max-width: 400px;
  border-radius: 5%;
  border: 1px solid #ccc;
}

.forget-password{
  font-weight: 500;
  color: black;
}

.login-button{
  background: $color6;
  color: white;
  margin-top: 25px;
  height: 40px;
  border-radius: 10px;
}

.span-info{
  margin-top: 20px;
}

.header{
  font-weight: bold; color:#444444
}

h3 {
  width: 100%;
  text-align: center;
  line-height: 0.1em;
  margin: 20px 0 20px;
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray
}

h3 span {
  background:#fff;
  padding:0 10px;
}


.fb {
  width: 100%;
  height: 40px;
  background-color: white;
  color: #3B5998;
  margin-top: 10px;
  border-radius: 10px;
}

.google {
  width: 100%;
  height: 40px;
  background-color: white;
  color: #dd4b39;
  margin-top: 10px;
  border-radius: 10px;
}
