@import "./src/variables";

.main-container{
  height: 80vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px){
  .example-card {
    width: 400px;
    max-width: 400px;
    border-radius: 0% !important;
    border: none !important;
    box-shadow: none !important;
  }
}

.example-card {
  width: 400px;
  max-width: 400px;
  border-radius: 5%;
  border: 1px solid #ccc;
}

.forget-password{
  font-weight: 500;
  color: black;
}

.login-button{
  background: $color6;
  color: white;
  margin-top: 25px;
  height: 40px;
  border-radius: 10px;
}

.span-info{
  margin-top: 20px;
}

.header{
  font-weight: bold; color:#444444
}
