

.bold{
  font-weight: 500;
  font-size: 15px;
}

.more-products{
  color: #cccfd3;
}

.button-action {
  width: 40vw;
  background: #353C7D;
  color: white;
  //height: 40px;
  border-radius: 50px;
}

.mat-card {
  box-shadow: none;
}

.food-card {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
  border-radius: 10px;

}

