<mat-toolbar class="toolbar" [style.background-color]="authService.isLoggedIn() ? 'white' : ''">
  <button *ngIf="false" mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div>
<!--    <span class="title">StudFood</span>-->
    <button mat-raised-button>Home</button>
    <button mat-raised-button routerLink="admin-users-list">Users List</button>
    <button mat-raised-button routerLink="products-list">Product's List</button>
    <button mat-raised-button routerLink="add-new-product">Add new product</button>
    <button mat-raised-button>Add food category</button>
    <button mat-raised-button>Orders</button>
  </div>

  <span class="example-spacer"></span>

  <div >

    <button mat-raised-button (click)="signOut()">logOut</button>
  </div>
  <!--    <button mat-icon-button class="example-icon favorite-icon" >-->
  <!--      <mat-icon>favorite</mat-icon>-->
  <!--    </button>-->
  <!--    <button mat-icon-button class="example-icon" >-->
  <!--      <mat-icon>share</mat-icon>-->
  <!--    </button>-->
  <!--  <ng-container *ngFor="let item of list" class="d-flex flex-column">-->
  <!--    <div>-->
  <!--      {{item.lastName}}-->
  <!--    </div>-->
  <!--  </ng-container>-->
</mat-toolbar>

