.search-card {
  width: 100vw;
  height: 57.75px;
  box-shadow: none;
  border-bottom: 1px solid #f3f2f7 !important;
  border-radius: unset;
  margin-top: 1px;
  padding: 5px;
}

.header-title{
  font-weight: 600;
  color: #353C7D;
}

.empty-favorite{
  width: 50%;
  height: auto;
}
.go-to-shopping{
  width: 80vw;
  background: #353C7D;
  color: white;
  margin-top: 25px;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 10vh;
}
