<div class="d-flex flex-column p-3 justify-content-between h-100">

  <div class="d-flex flex-column">
    <button mat-icon-button routerLink="/account-page-mobile">
      <mat-icon>close</mat-icon>
    </button>

    <div class="text-box" style="">
      <h1 class="title">Opening hours</h1>
      <p class="info">This is the program when our restaurant is open and you can come and take your food</p>
    </div>

    <mat-card class="example-card">
      <mat-card-content>
        <div class="d-flex flex-row">
          <div>
            <p class="info">Monday: </p>
            <p class="info">Tuesday: </p>
            <p class="info">Wednesday: </p>
            <p class="info">Thursday: </p>
            <p class="info">Friday: </p>
            <p class="info">Saturday: </p>
            <p class="info">Sunday: </p>
          </div>
          <div style="margin-left: 10%">
            <p class="info"> 12PM - 20PM </p>
            <p class="info"> 12PM - 20PM </p>
            <p class="info"> 12PM - 20PM </p>
            <p class="info"> 12PM - 20PM </p>
            <p class="info"> 12PM - 20PM </p>
            <p class="info"> 12PM - 16PM </p>
            <p class="info"> Closed </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>


  </div>


</div>
