mat-icon {
  font-weight: bold;
}

.text-box {
  margin-left: 10px;
  margin-top: 15px
}

.title {
  font-weight: bold;
}

.info {
  font-weight: 500;
}

.example-card {
  margin-top: 10px;
  max-width: 550px;
  background-color: #f3f2f7;
  border-radius: 10px !important;
  border: none !important;
  box-shadow: none !important;
}

.tab {
  tab-size: 4;
  font: 500 14px/20px Roboto, "Helvetica Neue", sans-serif;

}
