<div class="d-flex flex-column h-100">
  <div class="image-container">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  </div>
  <div class="d-flex p-3 flex-column justify-content-between h-100">

    <div>
      <p class="food-title">Shiba Inu Papa Bun</p>
      <div><span class="food-title">
        20<sup>40</sup>Lei</span>
      </div>

      <div>
        <p class="description">Asta e cea mai tare si incurabila descriere pe care o poti citi vreodata dfsf asdf
          asdfasdfsdfasdf asdf asdfasdf a</p>
        <p class="description">200g</p>
        <hr class="new1">
      </div>
    </div>

    <div style="margin-bottom: 20px" class="d-flex justify-content-center align-items-center">
      <button mat-fab class="cantity-button" >
        <mat-icon>remove</mat-icon>
      </button>
      <span style="margin: 0px 20px">1</span>
      <button mat-fab  class="cantity-button">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>
  <button mat-flat-button class="add-to-cart-button">
    <div class="d-flex justify-content-between">
      <span>
        Add to cart
      </span>
      <span>
        30Lei
      </span>
    </div>
  </button>
</div>
