<div class="d-flex flex-column" [ngStyle]="{'height': this.screenHeigh + 'px'}">
  <div class="image-container">
    <img *ngIf="productLoaded" src="{{product?.photoUrl}}">
    <img *ngIf="!productLoaded" src="assets/images/loading.gif">
  </div>
  <div class="d-flex p-3 flex-column h-100 justify-content-between">

    <div>
      <p class="food-title">{{product?.title}}</p>
      <div>
        <span *ngIf="!currentUser?.hasDiscount" class="food-title">{{product?.normalPrice | getDecimalPart}}<sup>{{product?.normalPrice | getFractionalPart}}</sup> Lei</span>
        <span *ngIf="currentUser?.hasDiscount" class="food-title">{{product?.discountPrice | getDecimalPart}}<sup>{{product?.discountPrice | getFractionalPart}}</sup> Lei</span>
      </div>

      <div>
        <p class="description">{{product?.description}}</p>
        <p class="description">{{product?.weight}}g</p>
        <hr>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-between">
      <div style="margin-bottom: 20px" class="d-flex justify-content-center align-items-center">
        <button mat-fab class="cantity-button" (click)="decreaseProductCount()">
          <mat-icon>remove</mat-icon>
        </button>
        <span style="margin: 0px 20px">{{productCount}}</span>
        <button mat-fab class="cantity-button" (click)="increaseProductCount()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

    </div>


  </div>
  <button mat-flat-button class="add-to-cart-button">
    <div class="d-flex justify-content-between">
      <span>Add to cart</span><span>{{totalPrice | getDecimalPart}}<sup>{{totalPrice | getFractionalPart}}</sup> Lei</span>
    </div>
  </button>
</div>

