
<div [ngStyle]="{'height':currentOrders.length>=4?'auto':'100%'}">
  <div style="position: sticky; z-index: 999; top: 0px">
    <mat-card class="title-card d-flex justify-content-center align-items-center">
      <h1 class="header-title">My orders</h1>
    </mat-card>
  </div>


  <div style="width: 100%; background-color: #f3f2f7; height: 100%" class="container ">

    <div class="d-flex flex-column flex-wrap pt-2">

        <app-order-card  *ngFor="let order of currentOrders" [order]="order" ></app-order-card>


    </div>




    <!--    <div *ngIf="!haveProductsAtFavorite()" class="d-flex flex-column justify-content-center align-items-center"-->
    <!--         style="height: 90%">-->
    <!--      <img src="assets/images/undraw_heartbroken_cble.svg" class="empty-favorite">-->
    <!--      <h2>You dont have favorite products</h2>-->
    <!--      <button mat-flat-button class="go-to-shopping" routerLink="/menu">Go to add favorite products</button>-->
    <!--    </div>-->

    <!--    <div class="d-flex flex-column flex-wrap pt-2">-->
    <!--      <ng-container *ngFor="let product of favoriteProducts">-->
    <!--        <app-product-card [product]="product" [currentUser]="currentUser"></app-product-card>-->
    <!--      </ng-container>-->
    <!--    </div>-->
  </div>
</div>
