//
//::ng-deep .mat-chip-list-wrapper {
//  display: flex;
//  flex-wrap: nowrap !important;
//  overflow-x: auto;
//
//  .mat-chip {
//    flex: 0 0 auto;
//  }
//
//
//
//}
//
//
//
//::ng-deep .mat-chip-list-wrapper::-webkit-scrollbar {
//  display: none!important;
//}
//::ng-deep .list::-webkit-scrollbar {
//  display: none!important;
//}
.example-card {
  max-width: 400px;
  margin: 10px;
}

h1{
  font-weight: 500;
  color: #444;
  font-size: 35px;

}

.mat-card{
  box-shadow: none;
}


.search-card{
  width: 100vw;
  box-shadow: none;
  border-bottom: 1px solid #f3f2f7 !important;
  border-radius: unset;
  margin-top: 1px;
  padding: 5px;
}

.mat-card.category-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > .mat-card-title-group {
    display: block;
  }

  > .mat-card-content {
    overflow-y: auto;
  }
}

.category-list{
  overflow-x: scroll;
  background: white;
  box-shadow:  0px -1px 10px #d2d2d2;
}
.category-list::-webkit-scrollbar {
  display: none;
}

.mat-chip.mat-standard-chip::after{
  background: none!important;
}


::ng-deep .mat-form-field-wrapper .mat-form-field-underline {
  width: 0px;
  background: #f3f2f7;
}
::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0px!important;
}
::ng-deep .mat-form-field-wrapper .mat-form-field-flex {

  background-color: #f3f2f7;
  border-radius: 40px !important;

  .mat-form-field-infix {
    margin-left: 1em;
    border-top: 0px;

    .mat-input-element {
      font-weight: 500;
    }
  }
}

::ng-deep .mat-form-field-infix{
  input{
    padding-bottom: 5px;
  }
}

::ng-deep .mat-chip-list-wrapper{

  flex-wrap: nowrap !important;
  .mat-chip{
    white-space: nowrap;
  }
  .mat-standard-chip{
    margin: 10px!important;
  }
}

