<div class="main-container">
  <mat-card class="example-card p-5">

    <mat-card-header class="flex-column">
      <h1 class="header">Create account</h1>
    </mat-card-header>

    <mat-card-content>
      <form #singUpForm="ngForm" class="d-flex flex-column">
        <mat-form-field appearance="legacy">
          <mat-label>First name</mat-label>
          <input [(ngModel)]="user.displayName" matInput placeholder="Placeholder" name="displayName" type="text" required>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Mobile number</mat-label>
          <input [(ngModel)]="user.phoneNumber" matInput placeholder="Placeholder" name="phoneNumber" type="text" required>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Email Address</mat-label>
          <input [(ngModel)]="user.email" matInput placeholder="Placeholder" name="email" type="email" required>
        </mat-form-field>

        <mat-form-field type="hidden" appearance="legacy">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="user.password" matInput placeholder="Placeholder" name="password" type="password"
                 required>
        </mat-form-field>




<!--        <span class="text-wrap">-->
<!--          The students have discount. If you are a student please check this box so after you can complete your-->
<!--          student's information and we can validate it.-->
<!--        </span>-->


        <button mat-flat-button class="login-button" (click)="singUpForm.valid?signUp():null">Sign Up
        </button>
        <span class="span-info d-flex justify-content-center">
       <a href="" class="back-link">Back to LogIn</a>
      </span>
      </form>
    </mat-card-content>

  </mat-card>
</div>

