@import "./src/variables";

.main-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
@media screen and (max-width: 400px){
  .main-container {
    height: auto;
  }
  .example-card {
    width: 400px;
    max-width: 400px;
    border-radius: 0% !important;
    border: none !important;
    box-shadow: none !important;
  }
}

.example-card {
  width: 400px;
  max-width: 400px;
  border-radius: 5%;
  border: 1px solid #ccc;
}

.login-button {
  background: $color6;
  color: white;
  margin-top: 25px;
  height: 40px;
  border-radius: 10px;
}

.back-link {
  font-weight: 500;
  color: #747474;
  margin-top: 20px;
}

.header {
  font-weight: bold;
  color: #444444
}

.text-warp {
  white-space: normal;
  pointer-events: none;
  cursor: default;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: $color6 !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: $color6 !important;
}

::ng-deep .mat-checkbox-inner-container {
  margin-top: 4px !important;
}
