.card-back{
  width: 100vw;
  height: 60px;
  box-shadow: none;
  margin-top: 1px;
  padding-top: 10px
}
.bodyy {
  background: #f3f2f7;
}

.payment-card {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
  border-radius: 10px;

}
