<div class="d-flex flex-column p-3 justify-content-between h-100">

  <div class="d-flex flex-column">
    <button mat-icon-button routerLink="/account-page-mobile">
      <mat-icon>close</mat-icon>
    </button>

    <div class="text-box" style="">
      <h1 class="title">Add money in the app</h1>
      <p class="info">For adding money in the app please fill the field with the desire amount or select how much you
        want. Then press the button and pay with your credit card.</p>
      <p class="info" style="color: red">*Note: 10 lei is minimum amount!</p>
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
      <input [style.color]="!isFieldValid()?'red':'black'" type="number" min="10" matInput [(ngModel)]="moneyInAppToAdd"
             (input)="onAmountChange($event.target)" required>

    </mat-form-field>

    <mat-chip-list aria-label="Money selection">
      <ng-container *ngFor="let amount of moneyAmount let i=index" class="d-flex flex-column">
        <mat-chip [style.background-color]="selected == i ? '#353C7D' : '#f3f2f7'"
                  [style.color]="selected == i ? 'white' : 'black'"
                  (click)="changeMoneyInAppToAdd(amount,i)">{{amount}}</mat-chip>
      </ng-container>
    </mat-chip-list>
  </div>


  <div class="d-flex justify-content-center">
    <button mat-flat-button class="button-action" (click)="isFieldValid() ? goToPayment():null">Pay now</button>
  </div>

</div>
