mat-icon {
  font-weight: bold;
}

.text-box {
  margin-left: 10px;
  margin-top: 15px
}

.title {
  font-weight: bold;
}

.info {
  font-weight: 500;
}

.button-action {
  width: 80vw;
  background: #353C7D;
  color: white;
  margin-top: 25px;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 10vh;
}

.edit-display-name-form {
  ::ng-deep .mat-form-field-wrapper .mat-form-field-underline {
    width: 0px;
    background: #f3f2f7;
  }

  ::ng-deep .mat-form-field-wrapper .mat-form-field-flex {
    background-color: #f3f2f7;
    border-radius: 40px !important;

    .mat-form-field-infix {
      margin-left: 1em;
      border-top: 0px;

      .mat-input-element {
        font-weight: 500;
      }
    }
  }
}
