<div class=" bodyy d-flex flex-row flex-wrap">

  <div class="d-flex flex-row align-items-end p-4">
    <img mat-card-sm-image src="assets/images/undraw_male_avatar_323b.svg">
    <h1 style="font-size: 50px; font-weight: bold;">Hello!</h1>
  </div>

  <div class="d-flex flex-row flex-wrap justify-content-center">

    <mat-card class="example-card">
      <mat-card-content class="d-flex flex-row">
        <img mat-card-sm-image src="assets/images/undraw_wallet_aym5.svg">
        <div>
          <p class="your-amount">Your amount: {{ (userData)?.moneyInApp }} lei</p>
          <p>This are the money you can spend on your favourite food! You can always add more!</p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-content class="d-flex flex-row">
        <img *ngIf="!userData?.hasDiscount" mat-card-sm-image src="assets/images/red_discount.svg">
        <img *ngIf="userData?.hasDiscount" mat-card-sm-image src="assets/images/green_discount.svg">
        <div *ngIf="!userData?.hasDiscount">
          <!--        ngif hasDiscount ...-->
          <p class="your-amount">You don't have food discount</p>
          <p>If you are a student you can always go to restaurant, and ask to get food discount!</p>
        </div>
        <div *ngIf="userData?.hasDiscount">
          <p class="your-amount">You have food discount</p>
          <p>Now you can buy your favourite food even cheaper, because you have discount</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="d-flex flex-row flex-wrap justify-content-start">
    <p class="my-account-p"> My account</p>

    <mat-card class="card-list">
      <mat-card-content class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row align-items-end">
          <img class="image-list" mat-card-sm-image src="assets/images/undraw_profile_re_4a55.svg">
          <div>
            <p>Account details</p>
          </div>
        </div>
        <button mat-icon-button (click)="goToAccountDetails()">
          <mat-icon style="color: #999;">keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-list">
      <mat-card-content class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row align-items-end">
          <img class="image-list" mat-card-sm-image src="assets/images/undraw_make_it_rain_iwk4.svg">
          <div>
            <p>Money in app</p>
          </div>
        </div>
        <button mat-icon-button routerLink="/add-money-in-app">
          <mat-icon style="color: #999;">keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-list">
      <mat-card-content class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row align-items-end">
          <img class="image-list" mat-card-sm-image src="assets/images/undraw_appreciation_re_p6rl.svg">
          <div>
            <p>Favourite food</p>
          </div>
        </div>
        <button mat-icon-button>
          <mat-icon style="color: #999;">keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>


    <p class="my-account-p" style="margin-top: 30px"> Here for you</p>

    <mat-card class="card-list">
      <mat-card-content class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row align-items-end">
          <img class="image-list" mat-card-sm-image src="assets/images/undraw_time_management_re_tk5w.svg">
          <div>
            <p>Opening hours</p>
          </div>
        </div>
        <button mat-icon-button routerLink="/opening-hours" >
          <mat-icon style="color: #999;">keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-list">
      <mat-card-content class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row align-items-end">
          <img class="image-list" mat-card-sm-image src="assets/images/undraw_personal_opinions_re_qw29.svg">
          <div>
            <p>Feedback</p>
          </div>
        </div>
        <button mat-icon-button   routerLink="/feedback">
          <mat-icon style="color: #999;">keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-list" style="margin-bottom: 90px; margin-top: 30px">
      <mat-card-content class="d-flex flex-row justify-content-center">
        <button mat-button style="color: red" (click)="signOut()">
          Disconnection
        </button>
      </mat-card-content>
    </mat-card>

  </div>


</div>
